.homepage {
    position: relative;
    background: url('../images/background_gold.webp') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e0e0e0;
    overflow: hidden;
}


.logo {
    max-width: 200px;
    margin-bottom: 1rem;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--gold-color);
}

p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.btn-custom {
    background-color: var(--gold-color);
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border-radius: 5px;
    color: #ffffff;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.btn-custom:hover {
    background-color: var(--hover-gold-color);
}
