/* Global Styles */
body {
    margin: 0;
    padding: 0;
    font-family: "Tomorrow", sans-serif;
}

.tomorrow-regular {
    font-family: "Tomorrow", serif;
    font-weight: 400;
    font-style: normal;
}