{% extends "base.html" %}

{% block title %}Signup{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block body_class %}homepage{% endblock %}

{% block content %}
<h1>Signup</h1>
<form method="POST">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" required>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <button type="submit" class="btn btn-custom">Signup</button>
</form>
<p>Already have an account? <a href="{{ url_for('login') }}">Login here</a></p>
<a href="{{ url_for('home') }}" class="back-home">Back to Home</a>
{% endblock %}